html, body, .background, .RedHeader_RedHeader__background__pelcz, .ShipToHeaderItem_ShipToHeaderItem__redHeaderContainer__1ot1v, .SnowOrderList_OrderItem__wrapper__15dr1,
.snow-ali-kit_Typography-Secondary__base__1i67dw, .snow-ali-kit_Typography-Secondary__link__1i67dw, .ProfitShelf_ProfitShelf__profitShelf__cxe7m, .MainLayout__background-white__1mo61 {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

:root, * {
    --backgroundColor: #1a1a1a!important;
    --backgroundColorTablet: #1a1a1a!important;
    --backgroundColorPc: #1a1a1a!important;
    --placeholder-color: #a0a0ab;
    --label-color: #a0a0ab;
    --caption-color: #18181b;
    --error-color: #fe4641;
    --default-background-color: #1a1a1a!important;
    --disabled-background-color: #a0a0ab!important;
    --default-border: 1px solid #b7b7b7;
    --hover-border: 1px solid #6c727e;
    --focus-border: 1px solid #6c727e;
    --disabled-border: 1px solid #939393;
    --error-border: 1px solid #fe4641;
    --default-text-color: #18181b;
    --disabled-text-color: #d1d1d6;

    --color-ad-entrance: #ff0036;
    --color-amber: #fdbd34;
    --color-black: #000;
    --color-blue: #34a3fc;
    --color-blue-green: #33c58c;
    --color-blue-light: #4dc0f6;
    --color-blue-link: #2e9cc3;
    --color-carousel-active: #e62e04;
    --color-coral: #1a1a1a!important;
    --color-dark-blue: #0a0062;
    --color-dark-blue-link: #0058dd;
    --color-dark-text: #333;
    --color-dark-text-hover: #666;
    --color-denim-blue: #4a90e2;
    --color-flesh: #1a1a1a!important;
    --color-green-lime: #a4c739;
    --color-grey: #757575 !important;
    --color-grey-average: #757575 !important;
    --color-grey-border: #757575 !important;
    --color-grey-border-light: #757575 !important;
    --color-grey-dark: rgba(0,0,0,.12);
    --color-grey-dark-text: #ccc;
    --color-grey-light: #757575 !important;
    --color-grey-light-background: rgba(0,0,0,.04);
    --color-grey-medium: #f9f9f9;
    --color-grey-scarlet: #f2f0ef;
    --color-grey-text: #999;
    --color-is-grey: #ebebeb;
    --color-lavender: #886afd;
    --color-light-blue: #3fa6f5;
    --color-light-green: #3ddd90;
    --color-light-green-blue: #2fc291;
    --color-light-grey: #eee;
    --color-orange: #f60;
    --color-orange-medium: #f90;
    --color-orange-text: #c7864d;
    --color-pink-light: #fff1f1;
    --color-red: #ff4747;
    --color-red-light: #ff2654;
    --color-red-text: #e62e04;
    --color-taupe: #8c8c8c;
    --color-white: #fff;
    --color-white-background: hsla(0,0%,100%,.75);
    --color-yellow: #fffb00;
    --color-yellow-light: #fffd80;
    --color-yellow-light-background: #f4e2cf;
    --color-borders-active: #4d4d4d;
    --color-borders-brand: #fe2722;
    --color-borders-coupons: #f2f2f3;
    --color-borders-disabled: #f8fafc;
    --color-borders-error: #fe4641;
    --color-borders-focused: #6c727e;
    --color-borders-hover: #6c727e;
    --color-borders-navbar: #de2622;
    --color-borders-navbar-button: #b8f05b;
    --color-borders-normal: #cdd5df;
    --color-borders-normal-with-bg: #e6eaf0;
    --color-borders-small-element: #aaadb0;
    --color-controls-bg-brand: #fe2722;
    --color-controls-bg-cta: #bef550;
    --color-controls-bg-cta-disabled: #d4fa96;
    --color-controls-bg-cta-hover: #b8f05b;
    --color-controls-bg-flash-cta: #ffe45b;
    --color-controls-bg-flash-cta-disabled: #fff7d0;
    --color-controls-bg-flash-cta-hover: #ffe872;
    --color-controls-bg-navbar-button: #e81711;
    --color-controls-bg-navbar-button-hover: #de2622;
    --color-controls-bg-primary:  #1a1a1a!important;
    --color-controls-bg-primary-disabled:  #1a1a1a!important;
    --color-controls-bg-primary-hover: #1a1a1a!important;
    --color-controls-bg-secondary: #222223;
    --color-controls-bg-secondary-disabled:  #1a1a1a!important;
    --color-controls-bg-secondary-hover: #444546;
    --color-controls-bg-skeleton:  #1a1a1a!important;
    --color-controls-bg-switch: #aaadb0;
    --color-controls-bg-switch-disabled: #ccd0d3;
    --color-controls-bg-switch-hover: #888a8d;
    --color-controls-bg-transparent-hover:  #1a1a1a!important;
    --color-controls-bg-white:  #1a1a1a!important;
    --color-controls-border-stepper:  #1a1a1a!important;
    --color-controls-stepper-hover: #1a1a1a!important;
    --color-fills-fill-alert: #fe4641;
    --color-fills-fill-atention: #fff7d0;
    --color-fills-fill-blue:  #1a1a1a!important;
    --color-fills-fill-blue-gray:  #1a1a1a!important;
    --color-fills-fill-brand: #fe2722;
    --color-fills-fill-delivery: #008930;
    --color-fills-fill-grey-01:  #1a1a1a!important;
    --color-fills-fill-grey-10: #1a1a1a!important;
    --color-fills-fill-grey-200: #4d4d4d;
    --color-fills-fill-loyalty: #9455ff;
    --color-fills-fill-promo: #ffe600;
    --color-fills-fill-sales:  #1a1a1a!important;
    --color-fills-fill-sku-disabled: #ebebed;
    --color-fills-fill-success: #33c83d;
    --color-fills-fill-white: #1a1a1a!important;
    --color-icon-bg-icon:  #1a1a1a!important;
    --color-icon-bg-icon-darker:  #1a1a1a!important;
    --color-icon-alert: #fe4641;
    --color-icon-brand: #fe2722;
    --color-icon-contrast:  #1a1a1a!important;
    --color-icon-contrast-disabled: #a0a0ab;
    --color-icon-contrast-invariably: #1a1a1a!important;
    --color-icon-contrast-inverse: #18181b;
    --color-icon-coupons: #486bdb;
    --color-icon-delivery-dark: #33bd59;
    --color-icon-delivery-light: #00ad30;
    --color-icon-link: #547dff;
    --color-icon-loyalty-primary: #9455ff;
    --color-icon-loyalty-secondary: #c8a8ff;
    --color-icon-primary: #18181b;
    --color-icon-primary-disabled: #a0a0ab;
    --color-icon-primary-invariably: #18181b;
    --color-icon-primary-inverse:  #1a1a1a!important;
    --color-icon-profile: #ffb800;
    --color-icon-sales-dark: #ff8126;
    --color-icon-sales-light: #ff6c02;
    --color-icon-secondary: #6c727e;
    --color-icon-secondary-disabled: #d1d1d6;
    --color-icon-secondary-invariably: #6c727e;
    --color-icon-success: #33c83d;
    --color-icon-tretiary: #a0a0ab;
    --color-icon-tretiary-disabled: #1a1a1a!important;
    --color-icon-tretiary-invariably: #a0a0ab;
    --color-surface-brand: #fe2722;
    --color-surface-primary: #fff;
    --color-text-coupons-text-coupons-primary: #2654e5;
    --color-text-coupons-text-coupons-primary-inverse: #18181b;
    --color-text-coupons-text-coupons-secondary: #547dff;
    --color-text-coupons-text-coupons-secondary-inverse: #a0a0ab;
    --color-text-alert: #fe4641;
    --color-text-brand: #fe2722;
    --color-text-contrast:  #1a1a1a!important;
    --color-text-contrast-disabled: #a0a0ab;
    --color-text-contrast-invariably: #1a1a1a!important;
    --color-text-contrast-inverse: #18181b;
    --color-text-delivery: #00ad94;
    --color-text-link: #547dff;
    --color-text-loyalty: #9455ff;
    --color-text-primary: #18181b;
    --color-text-primary-disabled: #a0a0ab;
    --color-text-primary-invariably: #1a1a1a!important;
    --color-text-primary-inverse: #18181b;
    --color-text-sales-primary: #ff6c02;
    --color-text-sales-secondary: #ff8126;
    --color-text-secondary: #898993;
    --color-text-secondary-disabled: #d1d1d6;
    --color-text-secondary-invariably: #898993;
    --color-text-success: #33c83d;
    --color-text-tretiary: #a0a0ab;
    --color-text-tretiary-disabled: #d1d1d6;
    --bgColor: #1a1a1a!important;
    --borderRadius: 8px;
    --border: 1px solid #414141 !important;
}

.RedHeader_RedHeader__header__pelcz, .RedModuleBanner_Banner__left-block__17cnq {
    background-color: #1a1a1a!important;
    border: none!important;
}

.RedHeaderNavigationItem_RedHeaderNavigationItem__link__91jxr, .RedHeaderProfileItem_RedHeaderProfileItem__link__1ruq2, .SnowWaterfallTabs_SnowWaterfallTabs__header__1u9q9 {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

.SnowWaterfallTabs_SnowWaterfallTabs__title__1u9q9 .SnowWaterfallTabs_SnowWaterfallTabs__tab__1u9q9.SnowWaterfallTabs_SnowWaterfallTabs__selected__1u9q9 {
    color: #7b7bd3!important;
}

.snow-ali-kit_Tab__selected__jai3av .snow-ali-kit_Tab__title__jai3av {
    color: #cfcfcf!important;
}

.product-snippet_ProductSnippet__deliveryTimeBlock__17q9pr, .product-snippet_ProductSnippet__fastShipmentBlock__17q9pr, .product-snippet_ProductSnippet__freeDeliveryBlock__17q9pr {
    color: #fafafa !important;
}

.product-snippet_ProductSnippet__container__17q9pr {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

.snow-price_SnowPrice__second__1cmks6 .snow-price_SnowPrice__secondPrice__1cmks6 {
    color: #b0b0b0 !important;
}

.snow-price_SnowPrice__mainM__1cmks6, .ProfitShelf_ProfitShelf__title__cxe7m {
    color: #cfcfcf!important;
}

.snow-price_SnowPrice__second__1cmks6 .snow-price_SnowPrice__discountPercent__1cmks6, .snow-price_SnowPrice__second__1cmks6 .snow-price_SnowPrice__discountTime__1cmks6,
.product-snippet_ProductSnippet__star__17q9pr {
    color: #ea583c !important;
}

.RedFooter_UserHelper__link__1i7x1 {
    color: #f0f4f7!important;
    background: #18181b!important;
}

.snow-ali-kit_Button-Secondary__button__4468ot {
    background-color: #b0b0b0!important;
    color: #222!important;
}

.RedHeader_Search__searchField__73iif {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

.RedHeader_Dropdown__dropdown__124q8, .RedHeader_DropdownList__dropdownList__qdan1, .SnowShoppingcartHeader_Header__container__dao1r, .SnowShoppingcartProductList_Product__container__pflxj {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

.RedHeader_DropdownList__focusedItem__qdan1 {
    background-color: #8a8a8a !important;
    color: #000000 !important;
}

.snow-ali-kit_Typography-Primary__base__1xop0e, .snow-ali-kit_Typography-Primary__link__1xop0e, p, p span {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

.snow-ali-kit_Tab__title__jai3av, .snow-price_SnowPrice__mainS__1cmks6, .RedFooter_FooterTop__wrapper__kpk5x  {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

.SnowShoppingcartTotalPrice_EmptyOrderLayout__container__aeza8 {
    background: #3f3fdc !important;
    border: 1px solid #5a90e1!important;
}

.SnowShoppingcartTotalPrice_ConfirmButton__fixedBackground__14ij2 {
    background: unset!important;
}

.SnowShoppingcartTotalPrice_ConfirmButton__empty__14ij2 {
    background: #4b4b4b !important;
    color: #cfcfcf!important;
}

.SnowShoppingcartHeader_ProductsSorting__icon__1q0bw {
    fill: #ccc!important;
}

.ProfitShelf_Product__link__15c22, .ProfitShelf_Product__product__15c22 {
    background: #4b4b4b !important;
    color: #cfcfcf!important;
}

.ProfitShelf_Product__priceContainer__15c22 {
    background: none!important;
}

.HazeProductButtons_HazeProductButtons__availQuantityText__1mmkw {
    color: #cfcfcf!important;
}

.SnowProductCharacteristics_SnowProductCharacteristicsItem__titleContent__534v9 {
    background-color: unset!important;
}

.HazeProductDescription_HazeProductDescription__topItemLabel__8s9ws {
    color: #ef5252 !important;
    border: 1px solid #d6d6db!important;
}

.SnowStickyOffer_SnowStickyOffer__grid__rj3x5 {
    border: 1px solid #989898 !important;
    background-color: #1a1a1a !important;
}

.SnowStickyOffer_SnowStickyOffer__grid__rj3x5 {
    background: #1a1a1a!important;
}

.RedReviewsProductRating_MainSection__mainSection__1h1kg {
    border: 1px solid #cfcfcf;
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

.RedReviewsProductRating_AdditionalSection__additionalSection__82v19, .red-review-item_RedReviewItem__wrapper__jkrtla  {
    border: 1px solid #cfcfcf;
    background: #1a1a1a!important;
}

.red-review-item_ReviewText__text__qtkydn, .red-review-item_ReviewHeader__title__e87i17 {
    color: #cfcfcf!important;
}

.red-review-item_ReviewText__button__qtkydn.red-review-item_ReviewText__readMore__qtkydn:before, .red-review-item_ReviewText__button__qtkydn.red-review-item_ReviewText__readMore__qtkydn {
    color: #bb4b4b !important;
    background: #1a1a1a!important;
}

