body, html {
    background-color: #363636!important;
    color: #acacac!important;
}

.topbar, .header {
    background-color: #1e1e1e!important;
}

.navigation, .search-bar__input-field, .search-bar__shop-link, .search-bar__history-list, .nav, .search-bar__logo {
    background-color: #1e1e1e!important;
    border-bottom: 1px solid #7a7a7a!important;
    color: #acacac!important;
}

.navigation__link, .topbar-navigation, .search-bar__history-clean, .footer__title, .category-item__title {
    color: #acacac!important;
}

.footer__link, .vertical-menu__item a {
    color: #8e8d8d !important;
}

button {
    color: #acacac!important;
}

.category-item {
    background: #5e5b5b!important;
}

.item-card {
    background: unset!important;
    border: 1px solid #898989!important;
}

.item-card__info:before {
    background: #444242!important;
}

.navigation__item:hover, .navigation-sub-menu, .navigation__sub-menu-wrapper, .nav__sub-content, .nav__flex-content {
    background: #3c3c3c !important;
}

.navigation-sub-menu__grid-col-list a, .navigation-sub-menu__grid-col-title, .navigation-sub-menu__single-items a, .current-location {
    color: #f2f2f2!important;
}

.js .select._checked .select__hidden-select:focus~.select__title, .js .select._has-value .select__hidden-select:focus~.select__title, .select._checked .js .select__hidden-select:focus~.select__title, .select._checked .select__title, .select._has-value .js .select__hidden-select:focus~.select__title, .select._has-value .select__title {
    color: #acacac!important;
}

.js .select__hidden-select:focus~.select__title, .select__title, .select__list,
input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
    border: 1px solid #898989!important;
    background: #5e5b5b!important;
}

.js .select__hidden-select:focus~.tree__item.select__title>.tree__link, .tree__item._active>.tree__link {
    color: #d1d1d1!important;
}

._rounded-arrow-down-active.tree__item._expandable:before, ._small._rounded-arrow-down-active.reviews__empty-icon, .dialog._window-full ._small._rounded-arrow-down-active.dialog__close, .dialog._window-full ._small._rounded-arrow-down-active.nav__sub-close, .icon._small._rounded-arrow-down-active, .tree._spoiler ._small._rounded-arrow-down-active.tree__item._expanded:before, .tree._spoiler .tree__item._expandable._expanded>.tree__item._expanded.tree__item-arrow:before, .tree._spoiler .tree__item._expandable>._rounded-arrow-down-active.tree__item._expanded.tree__item-arrow:before, .tree._spoiler .tree__item._expanded._expandable:before, .tree__item._expandable._expanded:before, .tree__item._expandable._expanded>.tree__item-arrow, .tree__item._expandable._expanded>.tree__item._expandable.tree__item-arrow:before, .tree__item._expandable>._rounded-arrow-down-active.tree__item-arrow {
    filter: invert(0.7)!important;
}
._small._rounded-arrow.reviews__empty-icon, .dialog._window-full ._small._rounded-arrow.dialog__close, .dialog._window-full ._small._rounded-arrow.nav__sub-close, .dialog._window-full ._small.dialog__close.tree__item._expandable:before, .dialog._window-full ._small.tree__item._expandable.nav__sub-close:before, .tree._spoiler ._small._rounded-arrow.tree__item._expanded:before, .tree._spoiler .tree__item._expandable>.tree__item._expanded.tree__item-arrow:before, .tree._spoiler .tree__item._expanded._expandable:before, .tree__item._expandable:before, .tree__item._expandable>.tree__item-arrow, .tree__item._expandable>.tree__item._expandable.tree__item-arrow:before {
    filter: invert(0.7)!important;
}

.rating:after {
    filter: invert(0.9)!important;
}

.item-card__prices-price, .item__price-once {
    color: #d1d1d1 !important;
}

.current-location__dialog-list-el._active, .item-card__instalment .item-card__prices-price, .item__price-month, .js .select__hidden-select:focus~.current-location__dialog-list-el.select__title, .label {
    color: #5e5b5b!important;
}

.js .select__hidden-select:focus~.pagination__el.select__title, .pagination__el._active, .pagination__el:hover:not(._disabled) {
    background: #0b0b0b!important;
    border-color: #dcdcdc !important;
    color: #c5c0c0!important;
}

.tree__link:hover {
    color: #c5c0c0!important;
}

body .filters__filter-row._active, body  .js .select__hidden-select:focus~.filters__filter-row.select__title {
    color: #49ca64 !important;
}

input[type=checkbox]:checked._check+label.form__checkbox::before {
    filter: invert(1);
}

input[type=checkbox]+label.form__checkbox, input[type=checkbox]+label.form__radio, input[type=radio]+label.form__checkbox, input[type=radio]+label.form__radio {
    border: 1px solid #dcdcdc!important;
    background: #5e5b5b!important;
}

.js .select__hidden-select:focus~.nav__el.select__title, .nav__el._active {
    background: #5e5b5b!important;
}

.item {
    border: 1px solid #5e5b5b!important;
    background: unset!important;
}

.tabs-content__tab:before {
    border-left: 1px solid #5e5b5b!important;
}

tr {
    border-color:  #5e5b5b!important;
}

._red.catalog-slider__main-button, ._red.offer-selection__tab, .button._red {
    background: #494646!important;
    color: #e5e5e5!important;
    border: 1px solid #6e6b6b!important;
}

.item__sku {
    color: #999;
    background: unset!important;
}

.item__sku:before {
    content: unset!important;
}

.offer-selection, .item-content__inner, .merchant-profile__inner, .reviews__inner, .specifications-list {
    border: 1px solid #e5e5e5;
    background: unset !important;
}

.description h2 {
    border-top: 14px solid #000000 !important;
}

.tabs-content__tab._active {
    background: #5f5e5e!important;
    border: 1px solid #dcdcdc!important;
}

.tabs-content__tab._active:after {
    border-color: transparent transparent #363636!important;
}

.specifications-list__spec-term-text, .specifications-list__spec-definition, .specifications-list__spec-term {
    background: unset!important;
}

._blue-light._active.catalog-slider__main-button, ._blue-light._active.offer-selection__tab, ._blue-light.catalog-slider__main-button:focus, ._blue-light.catalog-slider__main-button:hover, ._blue-light.offer-selection__tab:focus, ._blue-light.offer-selection__tab:hover, .button._blue-light._active, .button._blue-light:focus, .button._blue-light:hover, .js .select__hidden-select:focus~._blue-light.catalog-slider__main-button.select__title, .js .select__hidden-select:focus~._blue-light.offer-selection__tab.select__title, .js .select__hidden-select:focus~.button._blue-light.select__title {
    background: #2a2a2a!important;
    border-color: #131313 !important;
    color: white!important;
}

._blue-light.catalog-slider__main-button, ._blue-light.offer-selection__tab, .button._blue-light {
    background: #717171 !important;
    border-color: #2a2a2a !important;
    color: #dcdcdc!important;
}

._secondary.catalog-slider__main-button, ._secondary.offer-selection__tab, .button._secondary {
    color: #cacaca!important;
    background: #0c0c0c!important;
}

.topbar__nav-link {
    color: rgb(215 215 215 / 40%)!important;
}

.topbar__logo img, .header__logo img {
    filter: invert(0.5);
}

.header .lang-switcher__item {
    color: #a1a1a1 !important;
}

.header .lang-switcher__item--active {
    color: #ffffff !important;
}

.dialog {
    background: #373737!important;
}

.specifications-list__spec-term:before {
    color: #4a4a4a !important;
}

.js .select__hidden-select:focus~.loan-selector__el.select__title, .loan-selector__el._active,
.current-location__dialog-list-el._active, .item-card__instalment .item-card__prices-price, .item__price-month, .js .select__hidden-select:focus~.current-location__dialog-list-el.select__title, .label {
    background: #ffd300!important;
    color: black!important;
}

.container {
    background: unset!important;
}

.filters__filter,
.search-result .breadcrumbs._container-width_3x {
    border-bottom: 1px solid #6a6a6a!important;
}

.merchant-view__tab-container {
    border: 1px solid #6a6a6a!important;
    background: unset !important;
}

.tabs-content__tab._active {
    border: 1px solid #6a6a6a!important;
    color: #bfbfbf!important;
}

.nav__sub-el-link, .topbar__nav-list-item, .category-card__title {
    color: #bfbfbf!important;
}

.nav__sub-list-row-el:hover {
    color: #bfbfbf!important;
    background: #0c0c0c!important;
}

.topbar__nav-wrapper {
    color: #cacaca!important;
    background: #0c0c0c!important;
}

.lightbox .lightbox__wrapper {
    background: #444444!important;
}

.lightbox .lightbox__button--close, .lightbox .lightbox__button--arrow--left:after, .lightbox .lightbox__button--arrow--right:after {
    filter: invert(1);
}

.link, a, .current-location__city, .tabs-content__tab {
    color: #bdbdbe!important;
}
.select__list-item {
    color: #afafaf !important;
}
.select__list-item:hover {
    background: #6f6f6f!important;
    color: #bdbdbe!important;
}
.select__list-item._selected {
    color: #bdbdbe!important;
}
.select__list-item._selected::before {
    filter: invert(1);
}
.js .select__hidden-select:focus~.select__title:after, .select__title:after {
    background: #201f1f!important;
}
.select__list {
    box-shadow: unset!important;
}

.current-location__city {
    border-bottom: 1px dashed #bdbdbe!important;
}

.button, .catalog-slider__main-button, .offer-selection__tab, .offer-selection__tab:last-child {
    background: #6f6f6f!important;
    color: #bdbdbe!important;
}

.search-bar__logo {
    border: 1px solid #515151!important;
}

.product-card-installment-badge__text {
    background: #367c77!important;
}

.bonus-badge {
    background: #6d6d6d !important;
}

.offer-selection {
    border: 1px solid #565454!important;
}

.item__inner-left {
    border-right: 1px solid #565454!important;
}

.item__rating {
    border-bottom: 1px solid #565454!important;
}

.item__description-text {
    border-top: 1px solid #565454!important;
}

.search-bar__title {
    background: #6f6f6f!important;
    color: #0a0a0a!important;
}

.search-bar__list a {
    background: #6f6f6f!important;
}

.search-bar__list-history {
    color: #0a0a0a!important;
}

.search-bar__history-clean {
    color: #b12f2f !important;
}

.social-media, .carousel__slider-controls .next, .carousel__slider-controls .prev {
    filter: invert(1) !important;
}

.main-screen-index__main {
    background: unset!important;
}

.header__nav-link {
    color: #adadad!important;
}

.services-card, .category-card, .product-card, .entrepreneurs__mobapp, .terminal, .stay-partner {
    background: #1e1e1e!important;
}

.app-button {
    color: #0a0a0a!important;
}

.product-card__title {
    color: #939393 !important;
}

.product-card__description {
    color: #adadad!important;
}

.product-card__action {
    color: #0089d0!important;
}

.chat-button {
    background: #000000!important;
}

.filters__spoiler:hover {
    color: #80bddd!important;
}

._search.tree__item._expandable:before, ._small._search.reviews__empty-icon, .dialog._window-full ._small._search.dialog__close, .dialog._window-full ._small._search.nav__sub-close, .icon._small._search, .tree._spoiler ._search.tree__item._expanded._expandable:before, .tree._spoiler ._small._search.tree__item._expanded:before, .tree._spoiler .tree__item._expandable>._search.tree__item._expanded.tree__item-arrow:before, .tree__item._expandable>._search.tree__item-arrow {
    filter: invert(1);
}
