body {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

.notes {
    color: #8a8a8a!important;
}

.menu-container .header-menu-list {
    background: #2c2c2c!important;
}

.vip-card {
    color: #cfcfcf!important;
}

.offer__parameters dt {
    color: #a0a0a0!important;
}

.offer__parameters dd {
    color: #7a7a7a!important;
}

.offer__title {
    color: #999999!important;
}

.offer {
    color: #b0b0b0!important;
}

.a-credit__amount.isHighlighted {
    background-color: #ffd313;
    color: #000;
}

.corp-projects__title {
    color: #b0b0b0!important;
}

.offer__sidebar-contacts {
    background: #2c2c2c!important;
    border: 1px solid #474747!important;
}

.related {
    background-color: #262626!important;
    border-bottom: 1px solid rgba(28, 24, 25, .1)!important;
    color: #b0b0b0!important;
}

.ui-footer {
    background: #303030!important;
    color: #a0a0a0!important;
}

.main-menu .isSelected .main-menu__label {
    border-color: #2a81dd!important;
    color: #b0b0b0!important;
}

.reader {
    color: #9c9c9c!important;
}

.kl-ui-button--white {
    background-color: #222!important;
    color: #e0e0e0!important;
}

.price-bar__bar[data-v-390c22dc] {
    border: 4px solid #222!important;
}

.calc-block__month-amount {
    color: black;
}

.calc-block .form-control {
    background-color: #333!important;
    color: #b0b0b0!important;
}

.main-logo img, .main-logo__link img {
    filter: invert(.75);
}

.mes-messages {
    color: #9a9a9a!important;
}

.mes-messages__container {
    background: #3a3a3a!important;
}

.mes-messages__history-placeholder {
    background: #404040!important;
}

.header, .footer {
    background: #333!important;
}

.message {
    background: #080808!important;
    color: #9a9a9a!important;
}

.message.isOwn {
    background: #0e466d!important;
}

.mes-thread.isActive {
    background: #444!important;
}

.mes-ui-button--white {
    background-color: #2b2b2b!important;
}

.cab-a__main {
    background-color: #3a3a3a!important;
    color: #dcdcdc!important;
}

.a-pay__item {
    background: #333!important;
    color: #7a7a7a!important;
}

.cab-a__statistic {
    background-color: #222!important;
}

input {
    color: #b0b0b0!important;
    background: #1a1a1a!important;
}

.ui-segmented__wrapper {
    background-color: #555!important;
}

.ui-segmented__item--active, .ui-segmented__item--active:hover {
    background-color: #111!important;
    color: #b0b0b0!important;
}

.advert-note-editor {
    background: #3a3a3a!important;
    border: 2px solid #111!important;
}

.my-favorite .advert-note-editor .content textarea {
    background: #3a3a3a!important;
    color: #a5a5a5!important;
}

.month-payment__amount {
    color: black!important;
}

.favorite-title h1 {
    color: #e0d5d5!important;
}

.search-block .main {
    background: #444!important;
}

.search-block .main .primary .advanced-section.active {
    background: #3a3a3a!important;
}

.search-block .advanced-section {
    color: #b0b0b0!important;
}

.a-new-form .element-radio .radio-button label,
.advanced-section .element-radio .radio-button label,
.element-group-parameter-auto-emergency .element-radio .radio-button label,
.search-block .main .secondary .element-radio .radio-button label {
    background: #6b6b6b;
}

.a-new-form .element-radio .radio-button input[type=radio]:checked+label,
.advanced-section .element-radio .radio-button input[type=radio]:checked+label,
.element-group-parameter-auto-emergency .element-radio .radio-button input[type=radio]:checked+label,
.search-block .main .secondary .element-radio .radio-button input[type=radio]:checked+label {
    background-color: #ffd313;
}

.kl-ui-button:disabled,
.kl-ui-button[disabled] {
    color: #fff!important;
    background-color: #222!important;
}

.group--is-expanded,
.FilterGroup.isExtended {
    background-color: #272424!important;
}

.selectbox .selectbox-select {
    background: #000!important;
}

.selectbox-options {
    background: #000!important;
}
.a-new-form .element-radio .radio-button label, .advanced-section .element-radio .radio-button label, .element-group-parameter-auto-emergency .element-radio .radio-button label, .search-block .main .secondary .element-radio .radio-button label {
    background: #000;
}
.a-new-form .element-radio .radio-button input[type=radio]:checked+label, .advanced-section .element-radio .radio-button input[type=radio]:checked+label, .element-group-parameter-auto-emergency .element-radio .radio-button input[type=radio]:checked+label, .search-block .main .secondary .element-radio .radio-button input[type=radio]:checked+label {
    color: #000!important;
    background-color: #ffd313;
}
.search-block .element-group-parameter-auto-car-order .element-radio .radio-button label {
    color: #000!important;
    background-color: #5b5b5b!important;
}
.a-new-form .element-radio .radio-button label, .advanced-section .element-radio .radio-button label, .element-group-parameter-auto-emergency .element-radio .radio-button label, .search-block .main .secondary .element-radio .radio-button label {
    color: #000;
    background-color: #5b5b5b;
}
.a-card {
    background-color: #353535!important;
}
.a-list__item .a-card--pay-blue {
    background-color: #19384d!important;
}
.a-list__item .a-card--pay-yellow {
    background-color: #3f3001!important;
}
.vip-block-replacement {
    background-color: #272424!important;
}
.vip-block-replacement__title {
    color: #918e8f!important;
}
.kl-ui-button--blue.kl-ui-button--shadow:not(.kl-ui-button--loading):not(:disabled) {
    box-shadow: unset!important;
}
.resale-benefits {
    background-color: #2f2f2f!important;
}
.credit-label, .resale-label {
    background-color: #a5a5a5!important;
}
.search-block__shop-filter-badge, .search-block__user-filter-badge {
    background: #000000!important;
    color: white!important;
}
.search-block {
    color: #bfbfbf!important;
}
.arrow-link .menu-container .header-menu-list .action-list span.selected, .arrow-link-multiple .menu-container .header-menu-list .action-list span.selected, .element-type-select.arrow-icon .menu-container .header-menu-list .action-list .selected.group-label, .element-type-select.dependent .menu-container .header-menu-list .action-list .selected.group-label, .menu-container .header-menu-list .action-list .action-link.selected, .menu-container .header-menu-list .action-list .arrow-link span.selected, .menu-container .header-menu-list .action-list .arrow-link-multiple span.selected, .menu-container .header-menu-list .action-list .element-type-select.arrow-icon .selected.group-label, .menu-container .header-menu-list .action-list .element-type-select.dependent .selected.group-label, .menu-container .header-menu-list .action-list .selected.accordion-root-label {
    color: #b1b1b1!important;
}
.dropdown-menu {
    background-color: #3b3b3b!important;
}
.list__filter--stick:before {
    background-color: #373737!important;
    color: white!important;
}
.settings-container .settings-tabs .tab-content .form-group label {
    color: #c1c1c1!important;
}
.settings-container .settings-tabs .nav-tabs {
    background: #252525!important;
}
.settings-container .settings-tabs .nav-tabs li.active {
    background-color: #575757!important;
}

.settings-container .settings-tabs .nav-tabs li.active a {
    color: white!important;
}
.settings-container .settings-tabs .width-box {
    background-color: #575757!important;
}
.btn.btn-primary {
    border-bottom: unset!important;
    color: #fff;
}
.settings-notifications .checkbox-custom label, .settings-notifications .settings-notifications__submit {
    background-color: #313131!important;
}
.settings-password__action-wrap {
    background: #656567!important;
}
.user-cards-heading {
    color: #939393!important;
}
.account__info {
    background-color: #272727!important;
}
.card {
    background-color: #434343!important;
}
.vue-modal__content {
    background-color: #616161!important;
}
.account-fill__bonus--blue {
    background: #292929!important;
    color: #636363!important;
}

.account-fill__bonus {
    background: #292929!important;
    color: #636363!important;
}
.account-fill__bubbles .bubble-item {
    color: #b0b1b1!important;
}
