body {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

.notes {
    color: #8a8a8a!important;
}

.menu-container .header-menu-list, .kolesa-top-header-overlay {
    background: #2c2c2c!important;
}

.vip-card {
    color: #cfcfcf!important;
}

.offer__parameters dt {
    color: #a0a0a0!important;
    background: unset!important;
}

.offer__parameters dd {
    color: #d5d5d5 !important;
    background: unset!important;
}

.offer__title {
    color: #999999!important;
}

.offer {
    color: #b0b0b0!important;
}

.offer__seller-experience {
    color: #b3b3b3!important;
}

.a-credit__amount.isHighlighted {
    background-color: #ffd313;
    color: #000;
}

.corp-projects__title {
    color: #b0b0b0!important;
}

.offer__sidebar-contacts {
    background: #2c2c2c!important;
    border: 1px solid #474747!important;
}

.related {
    background-color: #262626!important;
    border-bottom: 1px solid rgba(28, 24, 25, .1)!important;
    color: #b0b0b0!important;
}

.ui-footer {
    background: #303030!important;
    color: #a0a0a0!important;
}

.main-menu .isSelected .main-menu__label {
    border-color: #2a81dd!important;
    color: #b0b0b0!important;
}

.reader {
    color: #9c9c9c!important;
}

.kl-ui-button--white {
    background-color: #222!important;
    color: #e0e0e0!important;
}

.kl-ui-button--white:hover {
    background-color: #333333 !important;
}

.price-bar__bar {
    border: 4px solid #222!important;
}

.calc-block__month-amount {
    color: black;
}

.calc-block .form-control {
    background-color: #333!important;
    color: #b0b0b0!important;
}

.main-logo img, .main-logo__link img, .ui-footer__header img, .fiscal-receipt__support-icon-phone, .fiscal-receipt__support-icon-arrow, i.logo {
    filter: invert(.75);
}

.cab-a__main {
    background-color: #3a3a3a!important;
    color: #dcdcdc!important;
}

.a-pay__item {
    background: #333!important;
    color: #7a7a7a!important;
}

.cab-a__statistic {
    background-color: #222!important;
}

input {
    color: #b0b0b0!important;
    background: #1a1a1a!important;
}

.ui-segmented__wrapper {
    background-color: #555!important;
}

.ui-segmented__item--active, .ui-segmented__item--active:hover {
    background-color: #111!important;
    color: #b0b0b0!important;
}

.advert-note-editor {
    background: #3a3a3a!important;
    border: 2px solid #111!important;
}

.my-favorite .advert-note-editor .content textarea, .my-favorite .advert-note-editor .content {
    background: #3a3a3a!important;
    color: #a5a5a5!important;
}

.month-payment__amount {
    color: black!important;
}

.favorite-title h1 {
    color: #e0d5d5!important;
}

.search-block .main {
    background: #444!important;
}

.search-block .main .primary .advanced-section.active {
    background: #3a3a3a!important;
}

.search-block .advanced-section {
    color: #b0b0b0!important;
}

.a-new-form .element-radio .radio-button label,
.advanced-section .element-radio .radio-button label,
.element-group-parameter-auto-emergency .element-radio .radio-button label,
.search-block .main .secondary .element-radio .radio-button label, .main-navigator a.add-adv-btn {
    background: #6b6b6b!important;
}

.a-new-form .element-radio .radio-button input[type=radio]:checked+label,
.advanced-section .element-radio .radio-button input[type=radio]:checked+label,
.element-group-parameter-auto-emergency .element-radio .radio-button input[type=radio]:checked+label,
.search-block .main .secondary .element-radio .radio-button input[type=radio]:checked+label {
    background-color: #ffd313!important;
}

.kl-ui-button:disabled,
.kl-ui-button[disabled] {
    color: #fff!important;
    background-color: #222!important;
}

.group--is-expanded,
.FilterGroup.isExtended {
    background-color: #272424!important;
}

.selectbox .selectbox-select {
    background: #000!important;
}

.selectbox-options {
    background: #000!important;
}

.a-new-form .element-radio .radio-button label, .advanced-section .element-radio .radio-button label, .element-group-parameter-auto-emergency .element-radio .radio-button label, .search-block .main .secondary .element-radio .radio-button label {
    background: #000;
}

.a-new-form .element-radio .radio-button input[type=radio]:checked+label, .advanced-section .element-radio .radio-button input[type=radio]:checked+label, .element-group-parameter-auto-emergency .element-radio .radio-button input[type=radio]:checked+label, .search-block .main .secondary .element-radio .radio-button input[type=radio]:checked+label {
    color: #000!important;
    background-color: #ffd313!important;
}

.search-block .element-group-parameter-auto-car-order .element-radio .radio-button label {
    color: #000!important;
    background-color: #5b5b5b!important;
}

.a-new-form .element-radio .radio-button label, .advanced-section .element-radio .radio-button label, .element-group-parameter-auto-emergency .element-radio .radio-button label, .search-block .main .secondary .element-radio .radio-button label {
    color: #000;
    background-color: #5b5b5b;
}

.a-card {
    background-color: #353535!important;
}

.a-list__item .a-card--pay-blue {
    background-color: #19384d!important;
}

.a-list__item .a-card--pay-yellow {
    background-color: #153b00 !important;
}

.vip-block-replacement {
    background-color: #272424!important;
}

.vip-block-replacement__title {
    color: #918e8f!important;
}

.kl-ui-button--blue.kl-ui-button--shadow:not(.kl-ui-button--loading):not(:disabled) {
    box-shadow: unset!important;
}

.resale-benefits {
    background-color: #2f2f2f!important;
}

.credit-label, .resale-label {
    background-color: #a5a5a5!important;
}

.search-block__shop-filter-badge, .search-block__user-filter-badge {
    background: #000000!important;
    color: #bfbfbf !important;
}

.search-block {
    color: #bfbfbf!important;
}

.arrow-link .menu-container .header-menu-list .action-list span.selected, .arrow-link-multiple .menu-container .header-menu-list .action-list span.selected, .element-type-select.arrow-icon .menu-container .header-menu-list .action-list .selected.group-label, .element-type-select.dependent .menu-container .header-menu-list .action-list .selected.group-label, .menu-container .header-menu-list .action-list .action-link.selected, .menu-container .header-menu-list .action-list .arrow-link span.selected, .menu-container .header-menu-list .action-list .arrow-link-multiple span.selected, .menu-container .header-menu-list .action-list .element-type-select.arrow-icon .selected.group-label, .menu-container .header-menu-list .action-list .element-type-select.dependent .selected.group-label, .menu-container .header-menu-list .action-list .selected.accordion-root-label {
    color: #b1b1b1!important;
}

.dropdown-menu {
    background-color: #3b3b3b!important;
}

.list__filter--stick:before {
    background-color: #373737!important;
    color: white!important;
}

.settings-container .settings-tabs .tab-content .form-group label {
    color: #c1c1c1!important;
}

.settings-container .settings-tabs .nav-tabs {
    background: #252525!important;
}

.settings-container .settings-tabs .nav-tabs li.active {
    background-color: #575757!important;
}

.settings-container .settings-tabs .nav-tabs li.active a {
    color: white!important;
}

.settings-container .settings-tabs .width-box {
    background-color: #575757!important;
}

.btn.btn-primary {
    border-bottom: unset!important;
    color: #fff!important;
    background-color: #06c!important;
}

.settings-notifications .checkbox-custom label, .settings-notifications .settings-notifications__submit {
    background-color: #313131!important;
}

.settings-password__action-wrap {
    background: #656567!important;
}

.user-cards-heading {
    color: #939393!important;
}

.account__info {
    background-color: #272727!important;
}

.card {
    background-color: #434343!important;
}

.vue-modal__content {
    color: #c9c9c9!important;
    background-color: #292929!important;
}

.account-fill__bonus--blue {
    background: #292929!important;
    color: #636363!important;
}

.account-fill__bonus {
    background: #292929!important;
    color: #636363!important;
}

.account-fill__bubbles .bubble-item {
    color: #b0b1b1!important;
}

.se-content {
    border-top: 1px dashed #cdcdcd;
    color: #a1a1a1!important;
}

.favorites .icon-fav-act, .favorites .icon-note-act {
    color: #dd5c7c!important;
}

.arrow-link-multiple:hover .favorites span.icon-fav-act.icon-fav-on, .arrow-link:hover .favorites span.icon-fav-act.icon-fav-on, .favorites .arrow-link-multiple:hover span.icon-fav-act.icon-fav-on, .favorites .arrow-link:hover span.icon-fav-act.icon-fav-on, .favorites .icon-fav-act.icon-fav-on, .favorites .icon-fav-act.icon-fav-on:hover {
    color: #dd5c7c!important;
}

.favorites .advert-note-editor .content textarea {
    color: #fff!important;
    background-color: #010100!important;
}

.favorites .advert-note-editor .content textarea {
    background: #010100!important;
}

.model-card {
    background-color: #292929!important;
}

.new-auto-navbar {
    background: #1a1a1a!important;
}

.new-auto-show main {
    color: #ededed!important;
}

.new-auto-navbar__option {
    background: #000!important;
    color: #2a81dd!important;
}

.new-auto-navbar__option.isActive {
    background: #d6ecfb !important;
    color: #1c1819 !important;
}

.new-auto-navbar__option:hover {
    background: #676767 !important;
    color: #fff!important;
}

.car-trim {
    background: #141414!important;
    box-shadow: 0 2px 10px rgba(28, 24, 25, .1);
}

.car-trim__equipments {
    background: #141414!important;
}

.car-trim-info {
    background: #5e5e5e !important;
    border: 1px solid #34a2e9!important;
}

.new-auto-specs__subtitle {
    background: unset!important;
}

.compare-trims-content--desktop {
    background-color: #141414!important;
}
.compare-trims-content {
    background: #141414!important;
}
.compare-trims-content__accordion--desktop {
    background: #141414!important;
}

.compare-trims-content__toggle {
    background: #434242!important;
}

.native-toggle__input[type=checkbox]~.native-toggle__toggle:before {
    background: #8f8989!important;
}

.compare-trims-content__header {
    background: #434242!important;
}
.compare-trims-card__trim-info--desktop {
    color: black;
}

.compare-trims-card--desktop {
    background: #5d5d5d!important;
    border: 1px solid transparent;
}

.compare-trims-card__price--desktop {
    color: antiquewhite!important;
}

.accordion__division .accordion__header, .accordion__division.isOpen .accordion__header {
    background: #5d5d5d!important;
}

.compare-trims-content__accordion-button--desktop {
    background: #5d5d5d!important;
}

.options-slider {
    background: #141414!important;
}

.options-slider__value {
    background: unset!important;
}

.option-value {
    color: #ffffff!important;
}

.cross-links__count {
    color: #e7e7e7!important;
}

.car-trim-info--active {
    background: #252525!important;
    border: 1px solid #34a2e9!important;
}

.compare-trims-cards-slider__navigation {
    background-color: initial;
    color: #fffdfe!important;
}

.compare-trims-cards-slider__navigation--next {
    background: linear-gradient(270deg, hsl(0deg 0% 22.98% / 80%) 45%, hsl(0deg 0% 0% / 0%))!important;
}
.compare-trims-cards-slider__navigation--prev {
    background: linear-gradient(90deg, hsl(0deg 0% 22.98% / 80%) 45%, hsl(0deg 0% 0% / 0%))!important;
}
.compare-trims-cards-slider__navigation--prev:hover button {
    background: #2d2d2d !important;
}
.compare-trims-cards-slider__icon {
    background: #000!important;
    border-radius: 100%;
    box-shadow: 0 2px 10px rgba(28, 24, 25, .3);
}

.seller-phones__warning a {
    color: #013267!important;
}

.seller-phones__warning {
    background: #9b811f!important;
    color: #000!important;
}

.a-new-form .element-radio .radio-button label, .advanced-section .element-radio .radio-button label, .element-group-parameter-auto-emergency .element-radio .radio-button label, .search-block .main .secondary .element-radio .radio-button label {
    background: #676767!important;
}

.element-type-select.deployed {
    background: #292929!important;
}

.a-dashboard__content {
    background-color: #0e384f!important;
}

.a-dashboard-item--current {
    background-color: #195c81 !important;
    color: #fff!important;
}

.a-form-mark__icon, .a-form-preview__image, .header-logo-nav {
    filter: invert(.75);
}

.a-form-card--active, .a-form-card--active:hover {
    background-color: #3a3c3d!important;
    border-color: #d6ecfb;
    color: #efefef!important;
}

.a-photos__content--empty {
    background-color: #7d2626!important;
    border-color: #2a81dd;
}

.a-form-options-group {
    background-color: #632323!important;
}

.a-form-description__text textarea {
    background: #000!important;
    color: #fff!important;
}

.a-form-preview {
    background-color: #2d2d2d!important;
    border: 1px solid rgba(28, 24, 25, .1);
}

#primary-menu li.menu-item-object-category a {
    color: #b7b7b7 !important;
}

header nav li.current-menu-item, header nav li.current-post-parent, header nav li a:hover {
    background-color: unset !important;
}

.main-navigator a.active, .main-navigator a.active:hover {
    color: #e7d8db!important;
}

h1.article-title {
    color: #dd5c7c!important;
}

.corp-products__link, .corp-products__link:visited, .locale__link--active, .locale__link--active:hover, .locale__link.locale__link--active  {
    color: #c7c7c7!important;
}

#main-bg {
    background: unset!important;
}

#main-list li a {
    color: #d5d5d5 !important;
}

#sidebar {
    background: #3d3d3d!important;
}

.widget-title {
    color: #d1cece!important;
}

.sidebar-tabs-menu li .active, .sidebar-tabs-menu a:hover {
    border-bottom: 4px solid #ffc018!important;
    color: #fffcfc!important;
}
.sidebar-tabs-menu li a {
    color: #c7c7c7!important;
    border-bottom: 1px dashed #6f6f6f!important;
}

#sidebar #helpful a {
    color: #cdcdcd!important;
}

nav.pagination a {
    color: #c9c4c4!important;
}

nav.pagination .next, nav.pagination .prev {
    color: #c9c4c4!important;
}

.guide-header-title {
    color: #ededed!important;
}

.bg-white {
    background-color: #636363 !important;
}

.gallery-nav .gallery-counter {
    color: #fff6f6!important;
}

.gallery-nav .gallery-prev, .gallery-nav .gallery-next {
    filter: invert(.75);
}

.gallery-img-exc, .wp-caption .wp-caption-text {
    color: #fff6f6!important;
}

.ui-selectbox {
    background-color: #494848!important;
}

.vs__dropdown-menu {
    background-color: #494848!important;
}

.vs__dropdown-menu li, .vs__dropdown-menu li span, .vs__dropdown-menu li a {
    color: #fff6f6!important;
}

.a-form-breadcrumbs__item {
    background-color: #123d5b!important;
    color: #dee7f1!important;
}

.ui-input__field {
    border-color: #fff6f6!important;
}

.a-dashboard-item__icon {
    border: 1px solid rgb(6 0 2 / 77%)!important;
}

.ui-progress-bar {
    background-color: #7d7d7f!important;
}

a:hover {
    color: #fd7070!important;
}

.DISABLED .hot .hot-time, .DISABLED .reset-hot-time {
    display: block!important;
    visibility: unset!important;
    font-size: 9px;
    position: absolute;
    bottom: 0;
}

.content-left section .section-links .block-links-list ul li small {
    color: #afacac!important;
}

.search-block .input-group-checkbox label:before {
    background: #737171!important;
}

.locale-menu {
    background-color: #737171!important;
}

.locale-menu__item .locale-menu__link {
    color: #414141 !important;
}

.locale-menu__item .locale-menu__link--active {
    background-color: #8c8a8a !important;
    color: #414141 !important;
}

.locale-menu__item .locale-menu__link--active:hover {
    color: #2d2d2d !important;
}

.month-payment__amount {
    background-color: #9f8100!important;
}

.hot .hot-list-hovers .hover {
    background: #8c8a8a !important;
    box-shadow: 0 0 20px rgba(28, 24, 25, .1);
}

.fiscal-receipt {
    background-color: #3f3f3f!important;
    color: #c1c1c1!important;
}

.fiscal-receipt__support {
    color: #ff652a!important;
}

.bonus-modal__info {
    background-color: #40688f!important;
}

.bonus-faq__heading {
    border-top: 1px solid #555555 !important;
}

.account-fill__bonus--blue {
    background: #2c75bd!important;
}

.account-fill__title {
    color: #e5e5e5!important;
}

.account-fill__input input {
    color: #d1cdce!important;
}

.account-fill__input:after {
    color: #d1cdce!important;
}

.account-fill__bubbles .bubble-item {
    color: #fff!important;
    background: #000!important;
}

.account-fill__bonus-list .list-items {
    color: #dd5c7c!important;
}

.account-fill__bonus-list .list-items__item .bonus, .account-fill__bonus-value {
    color: #000000!important;
    background: #c5b166!important;
}

.mes-ui-button--white {
    background-color: #3f3f3f !important;
}

.infoblock {
    align-items: center;
    background-color: #9f8e4b!important;
}

.infoblock__text {
    color: black!important;
}

.write-us {
    color: #dbdbdb!important;
}

.faq__item.isOpen {
    background: #3b3b3b!important;
}

.kl-badge.isWhite {
    background: #b1b1b1!important;
    color: #000!important;
}

.a-compact__additional {
    background: #141414!important;
}

.vs__selected {
    color: #fff!important;
}

.month-radio__label {
    background-color: #4d4d4d!important;
}

.month-radio__label.active {
    background-color: #2a81dd!important;
    color: #fff;
}

.related-item__price {
    color: #b5b5b5!important;
}

.related__title {
    color: #d3d3d3!important;
}

.claim {
    background-color: #515151!important;
}

.claim-title {
    color: #141414!important;
}

.accordion-root-label.active {
    color: #dd5c7c!important;
}

.claim textarea {
    background-color: #313131!important;
    color: white!important;
}

.fancybox-skin {
    background: #f9f9f9;
    color: #bd9a9a!important;
}

.paid-services-icons__item {
    cursor: pointer;
}

.tippy-box {
    border-color: #353535!important;
    background-color: #4a9449 !important;
}

.tippy-box a {
    color: #f9f9f9!important;
}

.tippy-box a:hover {
    color: #0a0a0a !important;
}

.tippy-box .paid-service-tooltip__heading, .tippy-box .paid-service-tooltip__text {
    color: #000 !important;
}

.tippy-box .paid-service-tooltip__action-link {
    color: #002ab9 !important;
}


.tippy-box .paid-service-tooltip__action-link:hover {
    color: #7c0b74 !important;
}

.a-statistic-table {
    color: #6ac569!important;
}

.ui-segmented__item {
    color: #dbd3d5!important;
}

.chart-tooltip {
    background: #565656!important;
}

.chart-tooltip__icon {
    color: #bbbec9!important;
}

.chart-tooltip__caret {
    background: #565656!important;
    border-bottom: 1px solid rgba(28,24,25,.1);
    border-right: 1px solid rgba(28,24,25,.1);
}

.a-statistic-chart__control-icon,.a-statistic-chart__control {
    background-color: initial;
    color: inherit;
}


.a-statistic-chart__analytics-text {
    color: #888b94!important;
}

.popup-update-browser__content {
    background: #888b94!important;
}

.storage-tabs__postfix {
    color: #dd5c7c!important;
}

.kl-ui-button--blue-light {
    color: #e9f2fb!important;
    background-color: #2a81dd!important;
}

.moderation-disclaimer {
    background-color: #6f4e1d !important;
}

.a-new-form .element-group .group-element .field-container textarea {
    background-color: black!important;
    color: #b7b7b7!important;
}

.selectbox .selectbox-select .text.selected {
    color: #b7b7b7!important;
}

.a-new-form .element-group.accept-agreement {
    background: #1b411e!important;
}

.a-new-form .buttons .js-submit {
    background: #337ab7!important;
    color: #fff!important;
}

.a-form-radio--disabled {
    background-color: #752f1f!important;
}

.a-form-radio--active, .a-form-radio--active:hover {
    color: #d6ecfb!important;
    border-color: #d6ecfb!important;
    background-color: #1c1819!important;
}

.ui-selectbox .vs__dropdown-option--selected {
    color: #fafafa!important;
    background-color: #1c1819!important;
}

.shop-info__experience {
    color: #dd5c7c!important;
}

.shop-address__region, .shop-mode__title {
    color: #c1c1c1!important;
}

.shop-mode__day--closed {
    background-color: rgba(255,51,51,.3);
    color: #fffafb!important;
}

.shop-description {
    background-color: #3b3b3b!important;
}

.shop-description__title, .shop-description__text {
    color: #c1c1c1!important;
}

footer.entry-footer a h2 {
    color: #cbcbcb!important;
}

#sidebar-sticked a, #tab-read a {
    color: #d9d9d9!important;
}

.a-preview {
    color: #e7e7e7!important;
    font-size: 20px!important;
}

.cabinet-photos__help {
    color: #dd5c7c!important;
}

.a-photos__content {
    background-color: #313131!important;
    border: 1px solid #2a649f!important;
}

.v--modal {
    background-color: #427b2a!important;
}

.vue-modal .details {
    color: #f3e7ea!important;
}

.vue-modal .details__value {
    color: #dd5c7c!important;
}

.signin-form {
    background-color: #3d3d3d!important;
}

.signin-form h1 {
    color: #cbcbcb!important;
}

.resale-link__text {
    color: #dd5c7c!important;
}

.offer__actions .icon-kl:hover {
    color: #dd5c7c!important;
}

.arrow-link-multiple:hover span.search-sort__button, .arrow-link:hover span.search-sort__button, .search-sort__button:hover {
    color: #b4b4b4 !important;
}

.search-sort__button a {
    color: #dd5c7c!important;
}

.search-sort__button {
    background-color: initial;
    color: #f3e7ea!important;
}
