.css-118kolg, .css-1ek5um8, .css-uhv1v6, .css-1i7rc0q, .css-1hf80wu {
    background-color: #141414!important;
}

.css-1dvk3om, .css-uqrk46 {
    color: #f9f9f9!important;;
    border-color: #7b7b7b!important;;
    background-color: #7b7b7b!important;;
}

.css-vszxq1, .css-1t507yq, .css-b5m1rv, .css-1lcz6o7, .css-1juynto, .css-12vqlj3, .css-1gpccxq, .css-o73al1, .css-hy3be0, .css-1900mhv, .css-1ory4ok, .css-poiucq {
    color: #f9f9f9!important;
}

.css-1uilkl7, .css-1wws9er, .css-1dp6pbg, .css-5hg2iu, .css-15a9obg, .css-g8papo:disabled, .css-xyhso8, .css-1amhcb2, .css-1wg12ds, .css-7lx9dr, .css-1nvt13t {
    color: #f9f9f9!important;
    background-color: #141414!important;
}

.css-2txnih {
    color: #f9f9f9!important;
    border: solid 5px #141414;
    background-color: #141414!important;
}

.css-jbjbe9:hover {
    background-color: #424242 !important;
}

.css-ea6evh, .css-zanx7 .rdp-caption, .css-ume3go, .css-cgy41y, .css-1qz5rbl {
    background: #000000!important;
}

.css-to3eky, .css-qfzx1y, .css-1apmciz {
    color: #f9f9f9!important;
    background: #252525 !important;
    background-color: #252525 !important;
}

.css-ki4ei7, .css-15fj1il, .css-1pzx3wn, .css-1uf1vew, .css-eib9j, .css-ycf998,
.css-16v5mdi, .css-1a4brun, .css-10b0gli, .css-znbvx0 {
    color: #d9d9d9!important;
}

.css-zanx7, .css-pn1izb, .css-2f03k6 {
    background-color: #000000!important;
}

.css-zanx7, .css-qqmbyk, .css-jbjbe9, .css-1u3hxjr, .css-t3rokz, .css-jr89lo, .css-18237xy, .css-1d7s6lb, .css-1l3tcy7 {
    color: #e7ebeb!important;
}

.css-140f2xj {
    background-color: #358575!important;
}

.css-z67bk3, .css-1qvyz1h, .css-1ee1qo5, .css-ygy1px, .css-8tlecf>button, .css-hfgp8s, .css-bk53q0 {
    color: #e7ebeb!important;
    background: #818383!important;
    background-color: #818383!important;
    border-color: unset!important;
}

