:root {
    --primary-color: white;
    --secondary-color: rgb(61, 68, 73);
    --highlight-color: #2a81dd;

    --dt-padding: 12px;

    --dt-border-radius: 3px;

    --dt-background-color-container: #2a3338;
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
}

.datatable-container {
    font-family: sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
}

.datatable-container .datatable {
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable td {
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable tbody tr:nth-child(even) {
    background-color: var(--dt-even-row-color);
}

.datatable-container .datatable tbody tr:hover {
    background-color: var(--dt-hover-cell-color);
}

.cred-error {
    font-size: 16px;
    color: #dd5c7c!important;
}
