body {
    background-color: #1a1a1a!important;
    color: #cfcfcf!important;
}

a {
    color: #2a81dd!important;
}

header {
    background-color: #1a1a1a!important;
    box-shadow: unset!important;
    color: #cfcfcf!important;
}

.headerTop_logoBtn img {
    filter: invert(.75);
}

header .nav a {
    color: #2a81dd!important;
}
